.Home {
  background-image: url("../Assets/herobg.png");
  display: flex;
  min-height: 100vh;
}

/* CHAT CONTROLLER */
.chat-controller {
  background-color: #3a3a5a;
  padding: 10px;
}

.chat-create {
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  margin: 1px 0px;
  padding: 0px 5px;
}

.chat-create:hover {
  background-color: #575788;
  border-radius: 5px;
  margin: 1px 0px;
  padding: 0px 5px;
}

/* CHAT BOX */
.chat-container {
  min-width: 500px;
  max-width: 500px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.chat-header {
  text-align: center;
  margin: 5px 0px;
}

.chat-messages {
  padding: 15px;
  height: 30rem;
  overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 4px;
}

.chat-message {
  display: flex;
  flex-direction: column;
}

.user-message {
  align-self: flex-end;
  background-color: #347fd4;
  color: #fff;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  overflow-wrap: break-word;
  max-width: 100%;
}

.response-message {
  background-color: #94a6bb;
  color: #fff;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border-top: 1px solid #ccc;
}

/* CHAT LOADING STATUS */
.chat-loading-status {
  text-align: center;
  margin: 5px 0px;
}

.message-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px; 
}

.message-input::-webkit-scrollbar {
  display: none;
}

.send-button {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}